[build]
  publish = "."

[[headers]]
  for = "/data/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Cache-Control = "no-cache"

[[redirects]]
  from = "/admin"
  to = "/admin/index.html"
  status = 200
